root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab

[{Makefile,*.mk}]
indent_style = tab

[*.{yml,yaml,md,json}]
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 2

# Markdown uses two trailing spaces for line breaks in some editors.
[*.md]
trim_trailing_whitespace = false
